################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiFront/.vs/ApiFront
/ApiFront/ApiFront/obj
/ApiFront/ApiFront/bin/Debug/netcoreapp3.1
